html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "cuyuan",
  "PingFang SC",
  "Helvetica Neue",
  Helvetica,
  "Hiragino Sans GB",
  "Microsoft YaHei",
  "微软雅黑",
  Arial,
  sans-serif;
}
body {
  user-select: none;
  -webkit-user-select: none;
}
.cleafix::after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  width: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
input, button {
  outline: none;
  padding: 0;
  margin: 0;
}
input:hover {
  outline: none;
}

button {
  border: none;
}
button:visited {
  outline: none;
  border: none;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
  border: none;
} 
button:hover {
  outline: none;
  border: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color: #fff;
  font-size: 20px;
  font-family: "cuyuan",
  "PingFang SC";
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-size: 20px;
  font-family: "cuyuan",
  "PingFang SC";
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff;
  font-size: 20px;
  font-family: "cuyuan",
  "PingFang SC";
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #fff;
  font-size: 20px;
  font-family: "cuyuan",
  "PingFang SC";
}
.el-date-table td.today span {
  background: #aa763a;
}
.el-date-table td.available:hover {
  color: #fff;
}
.el-date-table td.today span {
  color: #fff;
}
.el-date-table td.available:hover {
  background: #aa763a;
}
.el-date-table td.current:not(.disabled) span {
  background: #aa763a;
}
.el-picker-panel__icon-btn:hover {
  background: #fff;
}
.el-picker-panel__icon-btn:hover {
  color: #aa763a;
}
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover {
  color: #aa763a;
}
.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell {
  color: #aa763a;
}
.el-month-table td .cell:hover,
.el-month-table td.current:not(.disabled) .cell {
  color: #aa763a;
}
.el-picker-panel__shortcut:hover {
  color: #aa763a;
}
ul {
  scrollbar-arrow-color: #fff;
  /*三角箭头的颜色*/
  scrollbar-face-color: #fed358;
  /*立体滚动条的颜色*/
  scrollbar-track-color: #fff;
  /*立体滚动条背景颜色*/
  scrollbar-3dlight-color: #fed358;
  /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #fed358;
  /*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #fed358;
  /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #fed358;
  /*立体滚动条强阴影的颜色*/
  scrollbar-base-color: #fed358;
  /*滚动条的基本颜色*/
}