<template>
  <div class="page-account" @click="pageClick">
    <div class="account-title">
      <div class="timer-box">{{time}}s后退出</div>
      <div class="class-select" @click.stop="focusSelect">
        <input type="text" v-model="className" readonly="readonly" class="select-label">
        <ul class="select-ul" v-show="showList">
          <li class="li-item" v-for="(item, index) in classList" :key="index" @click.stop="selectClass(item, index)">
            <span class="name">{{item.name}}</span>
            <i class="icon" v-show="item.selected"></i>
          </li>
        </ul>
        <span class="span-icon span-down" :class="selectedClass"></span>
      </div>
      <div class="time start-time">
        <span class="time-bg">
          <input type="text" class="time-val" placeholder="选择开始日期" v-model="beginTimeStr">
        </span>
        <el-date-picker
          v-model="beginTime"
          type="date"
          :clearable = "false"
          popper-class = "mytime"
          value-format="yyyy-MM-dd"
          :picker-options="pickerOptions"
          @focus="startFocus"
          @blur="startBlur"
          placeholder="选择日期">
        </el-date-picker>
      </div>
      <div class="time-span"></div>
      <div class="time end-time">
        <span class="time-bg">
          <input type="text" class="time-val" placeholder="选择结束日期" v-model="endTimeStr">
        </span>
        <el-date-picker
          v-model="endTime"
          type="date"
          :clearable = "false"
          :picker-options="pickerOptions"
          value-format="yyyy-MM-dd"
          @focus="endFocus"
          @blur="endBlur"
          placeholder="选择日期">
        </el-date-picker>
      </div>
      <div class="search-log" @click="searchResult"></div>
    </div>
    <div class="account-content">
      <div class="content">
        <div class="content-lists">
          <div class="lists-title">
            <span class="id">ID</span>
            <span class="time">时间</span>
            <span class="name">宝宝</span>
            <span class="class">班级</span>
            <span class="name">家长</span>
            <span class="relation">关系</span>
            <span class="way">通道</span>
            <span class="type">通过方式</span>
          </div>
          <ul class="lists-ul" v-show="changeData.length">
            <li class="lists-li" v-for="(item, index) in changeData" :key="index">
              <span class="id">{{item.id}}</span>
              <span class="time">{{item.createTime}}</span>
              <span class="name">{{item.studentName}}</span>
              <span class="class">{{item.gradeName}}{{item.className}}</span>
              <span class="name">{{item.familyName}}</span>
              <span class="relation">{{item.relationName}}</span>
              <span class="way">{{item.passWayName}}</span>
              <span class="type">{{item.passTypeName}}</span>
            </li>
          </ul>
          <ul class="lists-ul-no" v-show="!changeData.length">
            <li class="lists-li-no">目前没有通行日志</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-box">
      <span class="page-btn page-btn-prev" @click="prevPage"></span>
      <span class="page-content">{{page}}/{{pages}}</span>
      <span class="page-btn page-btn-next" @click="nextPage"></span>
      <span class="page-content page-content-total">共{{count}}条</span>
    </div>
    <div class="back-btn"
      @click.stop="backHome"
      @mouseenter="backDown"
      @mouseleave="backUp"
      :class="backClass"
    ></div>
  </div>
</template>
<script>
import {addClass, removeClass} from '@/assets/js/handleClass.js'
import { mapState } from 'vuex'
export default {
  name: 'account',
  data () {
    return {
      page: 1,
      pages: 1,
      limit: 6,
      count: 0,
      changeData: [],
      page_top: false,
      page_bottom: false,
      time: 120,
      backActive: false,
      beginTime: '',
      endTime: '',
      selected: false,
      showList: false,
      className: '全部',
      classId: 0,
      classList: [],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now();
        },
        shortcuts: [{
          text: '今天',
          onClick(picker) {
            picker.$emit('pick', new Date());
          }
        }, {
          text: '昨天',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24);
            picker.$emit('pick', date);
          }
        }, {
          text: '一周前',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', date);
          }
        }]
      }
    }
  },
  watch: {
    classId () {}
  },
  computed: {
    ...mapState([
      'accountId',
      'equipmentId'
    ]),
    selectedClass () {
      return {
        'span-down-active': this.selected
      }
    },
    beginTimeStr () {
      if (this.beginTime) {
        let arr = this.beginTime.split('-');
        return arr[0] + '年' + arr[1] + '月' + arr[2] + '日'
      } else {
        return ''
      }
    },
    endTimeStr () {
      if (this.endTime) {
        let arr = this.endTime.split('-');
        return arr[0] + '年' + arr[1] + '月' + arr[2] + '日'
      } else {
        return ''
      }
    },
    backClass () {
      return {
        'active': this.backActive
      }
    },
    prevClass () {
      return {
        'pageup-active': this.page_top
      }
    },
    nextClass () {
      return {
        'pagedown-active': this.page_bottom
      }
    }
  },
  created () {
    this.changeAccount();
    this.gotSelect();
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    startFocus () {
      this.beginTime = ''
    },
    endFocus () {
      this.endTime = ''
    },
    startBlur () {
      this.page = 1;
      this.changeAccount();
    },
    endBlur () {
      if (this.beginTime) {
        let start = Date.parse(new Date(this.beginTime));
        let end = Date.parse(new Date(this.endTime));
        if (start > end) {
          this.$message({
            message: '查询的结束时间应该不小于开始时间',
            type: "warning",
            duration: 1000
          });
          this.endTime = '';
          return false
        }
      }
      this.page = 1;
      this.changeAccount();
    },
    searchResult () {
      this.beginTime = '';
      this.endTime = '';
      this.selectClass('全部', 0);
      this.page = 1;
      this.changeAccount();
    },
    selectClass (value, index) {
      let classList = this.classList;
      for (let i = 0; i < classList.length; i++) {
        if (i === index) {
          this.classId = classList[index].id;
          this.className = classList[index].name;
          classList[index].selected = true; 
        } else {
          classList[i].selected = false;
        }
      }
      this.classList = classList;
      this.selected = !this.selected;
      this.showList = !this.showList;
      this.page = 1;
      this.changeAccount();
    },
    focusSelect () {
      this.selected = !this.selected;
      this.showList = !this.showList;
    },
    gotSelect () {
      this.axios.post('/middle/SelectAllClass.do', {
        snCode: this.equipmentId
      }).then((response) => {
        let result_data = response.data;
        if (parseInt(result_data.status) === 1) {
          let classList = result_data.data;
          for (let i = 0; i < classList.length; i++) {
            if (this.classId === classList[i].id) {
              classList[i].selected = true; 
            } else {
              classList[i].selected = false; 
            }
          }
          this.classList = classList;
        } else {
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      })
    },
    changeAccount () {
      this.axios.post('/middle/SelectAllMiddle.do', {
        page: this.page,
        classId: this.classId,
        beginTime: this.beginTime,
        endTime: this.endTime,
        limit: this.limit,
        snCode: this.equipmentId
      }).then((response) => {
        let result_data = response.data;
        if (parseInt(result_data.code) === 0) {
          this.$nextTick(()=> {
            //账单信息
            this.changeData = result_data.data;
            //总条数
            this.count = result_data.count;
            //总页数
            this.pages = Math.ceil(this.count/this.limit) || 1;
          })
        } else {
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      })
    },
    prevPage () {
      this.page--;
      if(this.page < 1) {
        this.page = 1;
        this.$message({
          message: '没有上一页了~',
          duration: 1000,
          type: 'warning'
        });
        return false;
      }
      this.changeAccount();
    },
    nextPage () {
      this.page++;
      if (this.page > this.pages) {
        this.page = this.pages;
        this.$message({
          message: '没有下一页了~',
          duration: 1000,
          type: 'warning'
        });
        return false;
      }
      this.changeAccount();
    },
    lastTime () {
      clearInterval(this.$store.state.timer);
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    pageClick () {
      this.selected = false;
      this.showList = false;
      this.time = 120;
      clearInterval(this.$store.state.timer);
      this.lastTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    prevDown () {
      this.page_top = true;
    },
    prevUp () {
      this.page_top = false;
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    }
  },
  components: {
    
  }
}
</script>
<style lang="scss">
.page-account {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-repeat: no-repeat;
  background-image: url('~@/assets/images/page_bg.png');
  background-size: cover;
  .account-title {
    height: 78px;
    width: 90%;
    margin: 120px auto 40px;
    display: flex;
    position: relative;
    .timer-box {
      position: absolute;
      right: 0;
      top: -85px;
      height: 40px;
      line-height: 40px;
      width: 300px;
      text-align: right;
      padding-right: 8px;
      color: #fff;
      font-weight: 700;
      font-size: 32px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      letter-spacing: 5px;
    }
    .class-select {
      width: 383px;
      height: 78px;
      background-repeat: no-repeat;
      background-image: url('~@/assets/images/select_bj.png');
      background-size: 383px 78px;
      background-position: center center;
      margin-right: 220px;
      position: relative;
      .span-icon {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        right: 18px;
        width: 36px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: 36px 24px;
        background-position: center center;
      }
      .span-down {
        background-image: url('~@/assets/images/select_down.png');
        transition: all 0.2s;
        &.span-down-active {
          transform: rotate(-180deg)
        }
      }
      .span-up {
        background-image: url('~@/assets/images/select_up.png');
      }
      .select-label {
        display: block;
        width: 290px;
        height: 56px;
        line-height: 56px;
        margin-top: 11px;
        margin-left: 14px;
        color: #f8e8b0;
        font-family: "cuyuan","PingFang SC";
        font-weight: 700;
        font-size: 26px;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        letter-spacing: 3px;  
      }
      input::-webkit-input-placeholder { /* WebKit browsers */
        color: #f8e8b0;
        font-size: 26px;
        font-family: "cuyuan",
        "PingFang SC";
      }
      input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #f8e8b0;
        font-size: 26px;
        font-family: "cuyuan","PingFang SC";
      }
      .select-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        visibility: hidden;
      }
      .select-ul {
        position: absolute;
        width: 383px;
        top: 82px;
        left: 0;
        background: #f8e8b0;
        border: 1px solid #e2be87;
        box-shadow: 0 0 2px #e2be87;
        border-radius: 10px;
        height: 400px;
        overflow-y: auto;
        .li-item {
          width: 100%;
          height: 80px;
          padding-left: 50px;
          display: flex;
          .name {
            display: block;
            width: 180px;
            line-height: 80px;
            font-size: 24px;
            text-shadow: -1px 0 #A16322,0 1px #A16322,1px 0 #A16322,0 -1px #A16322;
            *filter: Glow(color=#A16322, strength=1);
            font-family: "cuyuan","PingFang SC";
            font-weight: 700;
            color: #fff;
            letter-spacing: 10px;
          }
          .icon {
            display: block;
            flex: 1;
            height: 80px;
            background-repeat: no-repeat;
            background-image: url('~@/assets/images/select_active.png');
            background-size: 33px 28px;
            background-position: center center;
          }
        }
      }
    }
    .time-span {
      width: 26px;
      height: 78px;
      background-repeat: no-repeat;
      background-image: url('~@/assets/images/select_span.png');
      background-size: 26px 6px;
      background-position: center center;
      margin: 0 15px;
    }
    .time {
      width: 383px;
      height: 78px;
      position: relative;
      .time-bg {
        width: 383px;
        height: 78px;
        background-repeat: no-repeat;
        background-image: url('~@/assets/images/time_bg.png');
        background-size: 383px 76px;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        .time-val {
          display: block;
          width: 290px;
          height: 56px;
          line-height: 56px;
          margin-top: 11px;
          margin-left: 14px;
          color: #f8e8b0;
          font-family: "cuyuan","PingFang SC";
          font-weight: 700;
          font-size: 26px;
          padding-left: 15px;
          background-color: transparent;
          border: none;
          outline: none;
          letter-spacing: 3px;
        }
        input::-webkit-input-placeholder { /* WebKit browsers */
          color: #f8e8b0;
          font-size: 26px;
          font-family: "cuyuan",
          "PingFang SC";
        }
        input:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #f8e8b0;
          font-size: 26px;
          font-family: "cuyuan","PingFang SC";
        }
      }
      .el-date-editor.el-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 383px;
        z-index: 2;
        opacity: 0;
      }
      .el-input__inner {
        height: 78px;
      }
    }
    .search-log {
      width: 230px;
      height: 78px;
      background-repeat: no-repeat;
      background-image: url('~@/assets/images/reset_search.png');
      background-size: 230px 76px;
      background-position: center center;
      margin-left: 63px;
    }
  }
  .account-content {
    width: 90%;
    height: 600px;
    background: #D6A770;
    margin: 0 auto 58px;
    border-radius: 15px;
    box-shadow: 0 0 0 rgab(0, 0, 0, 0.6);
    padding: 16px;
    border: 1px solid #a27640;
    .content-lists {
      width: 100%;
      border: 1px solid #a27640;
      height: 568px;
      background: #e7ca88;
      box-sizing: border-box;
      .lists-title {
        width: 100%;
        height: 86px;
        box-sizing: border-box;
        border-bottom: 1px solid #a27640;
        display: flex;
        span {
          display: block;
          text-align: center;
          font-size: 34px;
          color: #fff;
          height: 86px;
          line-height: 86px;
          letter-spacing: 3px;
          text-shadow: -2px 0 #A16322,0 2px #A16322,2px 0 #A16322,0 -2px #A16322;
          *filter: Glow(color=#000, strength=1);
          font-family: "cuyuan","PingFang SC";
          font-weight: 700;
        }
      }
      .lists-ul-no {
        width: 100%;
        margin-top: 200px;
        .lists-li-no {
          display: block;
          text-align: center;
          font-size: 32px;
          color: #b5884d;
          font-weight: 700;
          height: 80px;
          line-height: 80px;
          font-family: "cuyuan","PingFang SC";
        }
      }
      .lists-ul {
        width: 100%;
        .lists-li {
          width: 100%;
          height: 80px;
          display: flex;
          &:nth-child(odd) {
            background: #f8e8b0;
          }
          span {
            display: block;
            text-align: center;
            font-size: 32px;
            color: #b5884d;
            font-weight: 700;
            height: 80px;
            line-height: 80px;
            font-family: "cuyuan","PingFang SC";
          }
        }
        
      }
      .id {
        width: 125px;
      }
      .time {
        width: 310px;
      }
      .name {
        width: 200px;
      }
      .class {
        width: 280px;
      }
      .relation {
        width: 180px;
      }
      .way {
        width: 180px;
      }
      .type {
        width: 217px;
      }
    }
  }
  .page-box {
    width: 90%;
    height: 88px;
    margin: 0 auto;
    display: flex;
    .page-btn {
      width: 84px;
      height: 88px;
      display: block;
      background-repeat: no-repeat;
      background-size: 84px 88px;
    }
    .page-btn-prev {
      background-image: url('~@/assets/images/page_prev.png');
    }
    .page-btn-next {
      background-image: url('~@/assets/images/page_next.png');
    }
    .page-content {
      padding: 0 15px;
      height: 88px;
      line-height: 88px;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      color: #b5884d;
      letter-spacing: 5px;
    }
    .page-content-total {
      margin-left: 15px;
    }
  }
  .back-btn {
    width: 131px;
    height: 135px;
    position: absolute;
    right: 84px;
    bottom: 50px;
    background-image: url('~@/assets/images/back_btn.png');
    background-repeat: no-repeat;
    background-size: 131px 135px;
    transition: all 0.2s ease-in-out;
    &.active {
      transform: scale(0.9)
    }
  }
}
</style>
