<template>
  <div class="error-status" @click="pageClick">
    <div class="status-box">
      <div class="status-content">
        <div class="status-txt">
          抱歉，激活失败！
        </div>
        <div class="status-reason">
          {{message_regist}}
        </div>
        <div class="status-time">
          {{time}}s后退出
        </div>
      </div>
    </div>
    <div class="back-box">
      <div class="back-btn"
        @click.stop="backHome"
        @mouseenter="backDown"
        @mouseleave="backUp"
        :class="backClass"
      ></div>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
export default {
  name: 'error',
  data () {
    return {
      time: 5,
      backActive: false
    }
  },
  computed: {
    ...mapState([
      'message_regist'
    ]),
    backClass () {
      return {
        'active': this.backActive
      }
    }
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    pageClick () {
      clearInterval(this.$store.state.timer);
      this.time = 5;
      this.lastTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    lastTime () {
      clearInterval(this.$store.state.timer);
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.error-status {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-image: url('~@/assets/images/page_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  .status-box {
    width: 523px;
    height: 622px;
    background-image: url('~@/assets/images/fail_jh.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -311px;
    margin-left: -262px;
    .status-content {
      width: 100%;
      height: 184px;
      position: absolute;
      left: 0;
      bottom: 51px;
      text-align: center;
      font-weight: 700;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
      letter-spacing: 5px;
      .status-txt, .status-reason {
        font-size: 34px;
        color: #fff;
        padding-left: 28px;
        margin-bottom: 10px;
      }
      .status-reason {
        width: 400px;
        margin: 0 auto 30px;
        font-size: 28px;
        padding-left: 0px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }
      .status-time {
        font-size: 24px;
        color: #fff;
      }
    }
  }
  .back-box {
    width: 131px;
    height: 135px;
    position: absolute;
    right: 84px;
    bottom: 50px;
    .back-btn {
      display: block;
      width: 131px;
      height: 135px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 131px 135px;
      transition: all 0.2s ease-in-out;
      &.active {
        transform: scale(0.9)
      }
    }
    }
}
</style>
