<template>
  <div class="login-page" @click="pageClick">
    <div class="status-box">
      <div class="tips">{{mesgTips}}</div>
      <div class="hand" :class="classHands"></div>
      <div class="close-btn"
        @click.stop="backHome"
      ></div>
      <div class="time">{{time}}s后退出</div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'login',
  data () {
    return {
      isClose: false,
      time: 30,
      mesgTips: '请把手掌放置正确位置',
      lastStr: '',
    }
  },
  computed: {
    classHands () {
      return {
        'active': this.isClose
      }
    },
  },
  created () {
    this.$store.state.LoginProgress = this.softProgress;
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    softProgress(info) {
      if (info.handTxt == "请放上手" || info.handTxt == "请移开手") {
        if (info.handTxt != this.lastStr) {
          switch (info.handTxt) {
            case "请放上手":
              this.isClose = true;
              window.external.playMusic(3);
              break;
            case "请移开手":
              this.isClose = false;
              window.external.playMusic(4);
              break;
            default:
          }
        }
      }
      this.mesgTips = info.handTxt;
      this.lastStr = info.handTxt;
    },
    pageClick () {
      clearInterval(this.$store.state.timer);
      this.time = 30;
      this.lastTime();
    },
    backHome () {
      //取消登录
      this.$store.state.reTime = 0;
      this.$store.commit('cancleSoft');
      this.$router.push('/');
    },
    lastTime() {
      clearInterval(this.$store.state.timer);
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      }, 1000);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.login-page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  .status-box {
    width: 523px;
    height: 622px;
    background-image: url('~@/assets/images/yz_hand.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -311px;
    margin-left: -262px;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    text-shadow: -1px 0 #d7a771,0 1px #d7a771,1px 0 #d7a771,0 -1px #d7a771;
    *filter: Glow(color=#d7a771, strength=1);
    font-family: "cuyuan","PingFang SC";
    letter-spacing: 5px;
    .time {
      width: 100%;
      height: 42px;
      line-height: 42px;
      position: absolute;
      left: 0;
      bottom: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 24px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
      letter-spacing: 5px;
    }
    .tips {
      width: 400px;
      height: 42px;
      line-height: 42px;
      position: absolute;
      top: 50%;
      right: -450px;
      margin-top: -21px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .hand {
      width: 99px;
      height: 142px;
      background-image: url('~@/assets/images/hand_new.png');
      background-repeat: no-repeat;
      background-size: 99px 142px;
      background-position: center center;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -71px;
      transition: all 0.8s ease-in-out 0.8s;
      opacity: 0;
      &.active {
        right: 80px;
        opacity: 1;
      }
    }
    .close-btn {
      width: 100px;
      height: 100px;
      position: absolute;
      right: -84px;
      top: -50px;
      background-image: url('~@/assets/images/close_btn.png');
      background-repeat: no-repeat;
      background-size: 58px 57px;
      background-position: center center;
      transition: all 0.5s;
      &.active {
        transform: scale(0.8)
      }
    }
    
  }
}
</style>
