<template>
  <div class="login-status" @click="pageClick">
    <div class="status-box">
      <div class="status-content">
        <div class="status-txts">
          {{message_login}}
        </div>
        <div class="status-reason">
          已为您通知到老师,请稍候...
        </div>
        <div class="status-time">
          {{time}}s后退出
        </div>
      </div>
      <div class="close-btn"
        @click.stop="backHome"
      ></div>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
export default {
  name: 'error',
  data () {
    return {
      time: 5
    }
  },
  computed: {
    ...mapState([
      'message_login'
    ])
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    pageClick () {
      clearInterval(this.$store.state.timer);
      this.time = 5;
      this.lastTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    lastTime () {
      clearInterval(this.$store.state.timer);
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
      window.external.playMusic(7);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.login-status {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  .status-box {
    width: 523px;
    height: 622px;
    background-image: url('~@/assets/images/success_yz.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -311px;
    margin-left: -262px;
    .status-content {
      width: 100%;
      height: 184px;
      position: absolute;
      left: 0;
      bottom: 51px;
      text-align: center;
      font-weight: 700;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
      letter-spacing: 5px;
      .status-txts, .status-reason {
        font-size: 34px;
        color: #fff;
        padding-left: 14px;
        margin-bottom: 10px;
      }
      .status-reason {
        margin-bottom: 30px;
        font-size: 28px;
        padding: 0 20px 0 40px;
      }
      .status-time {
        font-size: 24px;
        color: #fff;
      }
    }
    .close-btn {
      width: 100px;
      height: 100px;
      position: absolute;
      right: -84px;
      top: -50px;
      background-image: url('~@/assets/images/close_btn.png');
      background-repeat: no-repeat;
      background-size: 58px 57px;
      background-position: center center;
      transition: all 0.5s;
      &.active {
        transform: scale(0.8)
      }
    }
  }
}
</style>
