<template>
  <div class="plam" @click="pageClick">
    <div class="status-box">
      <div class="tips">{{mesgTips}}</div>
      <div class="hand" :class="classHands"></div>
      <div class="time">{{time}}s后退出</div>
    </div>
    <div class="back-btn"
      @click.stop="backHome"
      @mouseenter="backDown"
      @mouseleave="backUp"
      :class="backClass"
    ></div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
export default {
  name: 'error',
  data () {
    return {
      isClose: false,
      time: 60,
      mesgTips: '请把手掌放置正确位置',
      lastStr: '',
      backActive: false
    }
  },
  computed: {
    classHands () {
      return {
        'active': this.isClose
      }
    },
    backClass () {
      return {
        'active': this.backActive
      }
    }
  },
  created () {
    this.$store.state.softProgress = this.softProgress
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    softProgress(info) {
      if (info.handTxt == "请放上手" || info.handTxt == "请移开手") {
        if (info.handTxt != this.lastStr) {
          switch (info.handTxt) {
            case "请放上手":
              this.isClose = true;
              window.external.playMusic(3);
              break;
            case "请移开手":
              this.isClose = false;
              window.external.playMusic(4);
              break;
            default:
          }
        }
      }
      this.mesgTips = info.handTxt;
      this.lastStr = info.handTxt;
    },
    backHome () {
      //取消注册
      this.$store.state.reTime = 0;
      this.$store.commit('cancleSoft');
      this.$router.push('/');
    },
    pageClick () {
      clearInterval(this.$store.state.timer);
      this.time = 60;
      this.lastTime();
    },
    lastTime() {
      clearInterval(this.$store.state.timer);//清除定时器
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      }, 1000);
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.plam {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-image: url('~@/assets/images/page_bg.png');
  .status-box {
    width: 523px;
    height: 622px;
    background-image: url('~@/assets/images/jh_hand.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -311px;
    margin-left: -262px;
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
    *filter: Glow(color=#000, strength=1);
    font-family: "cuyuan","PingFang SC";
    letter-spacing: 5px;
    .time {
      width: 100%;
      height: 42px;
      line-height: 42px;
      position: absolute;
      left: 0;
      bottom: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 24px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
      letter-spacing: 5px;
    }
    .tips {
      width: 400px;
      height: 42px;
      line-height: 42px;
      position: absolute;
      top: 50%;
      right: -450px;
      margin-top: -21px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .hand {
      width: 99px;
      height: 142px;
      background-image: url('~@/assets/images/hand_new.png');
      background-repeat: no-repeat;
      background-size: 99px 142px;
      background-position: center center;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -71px;
      transition: all 0.8s ease-in-out 0.8s;
      opacity: 0;
      &.active {
        right: 80px;
        opacity: 1;
      }
    }
  }
  .back-btn {
    width: 131px;
    height: 135px;
    position: absolute;
    right: 84px;
    bottom: 50px;
    background-image: url('~@/assets/images/back_btn.png');
    background-repeat: no-repeat;
    background-size: 131px 135px;
    transition: all 0.2s ease-in-out;
    &.active {
      transform: scale(0.9)
    }
  }
}
</style>
