<template>
  <div class="status" @click="pageClick">
    <div class="status-boxs">
      <div class="children-content" ref="content" v-show="allResult.length">
        <ul class="children-ul">
          <li class="children-list" 
            v-for="(item, index) in result" 
            :key="index"
            @click="clickSelect(index, item)"
          >
            <div class="photo">
              <img :src="item.imagePath" alt="">
              <div class="photo-copy" v-if="item.sendStatus === 1">
                <i class="send-icon"></i>
              </div>
              <div class="photo-copy" v-else>
                <i class="sel-icon" v-show="item.checked"></i>
                <i class="sel-icon sel-icon-no" v-show="!item.checked"></i>
              </div>
            </div>
            <div class="name">{{item.name}}</div>
          </li>
        </ul>
        <span class="page-btn page-btn-prev" v-show="isPrev" @click="prevPage"></span>
        <span class="page-btn page-btn-next" v-show="isNext" @click="nextPage"></span>
      </div>
      <div class="sure-btn" 
        @click.stop="clickSure" 
        v-show="allResult.length"
        :disabled = disableSubmit
      >
      </div>
      <div class="children-content-no" v-show="!allResult.length">抱歉，您还没有绑定宝宝</div>
      <div class="time">{{time}}s后退出</div>
      <div class="close-btn"
        @click.stop="backHome"
      ></div>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
export default {
  name: 'select',
  data () {
    return {
      time: 120,
      allResult: [],
      result: [],
      page: 1,
      limit: 2,
      pages: 1,
      count: 1,
      isPrev: false,
      isNext: false,
      disableSubmit: false
    }
  },
  computed: {
    ...mapState([
      'equipmentId',
      'accountId'
    ])
  },
  watch: {
    page: {
      handler(curVal,oldVal){
　　　　if (curVal <= 1) {
          this.isPrev = false;
          this.isNext = true;
        } else if ( 1 < curVal && curVal < this.pages){
          this.isPrev = true;
          this.isNext = true;
        } else if (curVal >= this.pages) {
          this.isPrev = true;
          this.isNext = false;
        }
　　　}
    }
  },
  created () {
    this.childrenData()
  },
  mounted () {
     this.lastTime();
  },
  methods: {
    clickSure () {
      let result = this.allResult;
      let studentId = '';
      if (result.length > 0) {
        for (let i = 0; i < result.length; i++) {
          if ( result[i].checked) {
            studentId += result[i].id + ','
          }
        }
      }
      if (studentId === '') {
        this.$message({
          message: '请您选择宝宝或者您的宝宝已送出',
          duration: 2000,
          type: 'warning'
        });
      } else {
        let value = studentId.substring(0, (studentId.length -1));
        this.submitData(value)
      }
    },
    submitData (studentId) {
        this.disableSubmit = true;
        this.axios.post('/zd/ReceiveMyStudent.do', {
          equipmentName: this.equipmentId,
          userId: this.accountId,
          studentId: studentId
        }).then((response) => {
          let result_data = response.data;
          this.disableSubmit = false;
          if(parseInt(result_data.status) === 1) {
            this.$router.push('/suc');
          } else {
            this.$router.push('/fail');
          }
          this.$store.state.message_login = result_data.msg;
        }).catch((error)=> {
           this.disableSubmit = false;
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'error'
          });
        });
    },
    clickSelect (index, item) {
      if (item.sendStatus === 0) {
        let result = this.result;
        for (let i = 0; i < result.length; i++) {
          if (i === index) {
            result[index].checked = !item.checked
          }
        }
        this.result = result;
      }
    },
    prevPage () {
      this.page--;
      if(this.page < 1) {
        this.page = 1;
        // this.$message({
        //   message: '没有上一页了~',
        //   duration: 1000,
        //   type: 'warning'
        // });
        return false;
      }
      this.pageData();
    },
    nextPage () {
      this.page++;
      if (this.page > this.pages) {
        this.page = this.pages;
        // this.$message({
        //   message: '没有下一页了~',
        //   duration: 1000,
        //   type: 'warning'
        // });
        return false;
      }
      this.pageData();
    },
    pageData () {
      //忽略条数index
      this.result = [];
      let countLimit  = this.limit * (this.page -1);
      for (let i = 0; i < this.allResult.length; i++) {
        if (i === countLimit) {
          this.result.push(this.allResult[i])
        } else if (i === countLimit+1) {
          this.result.push(this.allResult[i])
        }
      }
    },
    childrenData () {
        this.axios.post('/zd/GetMyStudent.do', {
          equipmentName: this.equipmentId,
          userId: this.accountId,
          page: this.page,
          limit: 100
        }).then((response) => {
          let result_data = response.data;
          if(parseInt(result_data.code) === 0) {
            let result = result_data.data;
            for (let i = 0; i < result.length; i++) {
              if (result[i].sendStatus === 0) {
                result[i].checked = true;
              }
            }
            this.allResult = result;
            //总条数
            this.count = result_data.count || 1;
            //总页数
            let pages = Math.ceil(this.count/this.limit);
            this.pages = pages;
            if (pages > 1) {
              this.isNext = true;
            }
            this.pageData()
          } else {
            this.$message({
              message: result_data.msg,
              duration: 1000,
              type: 'warning'
            });
          }
        }).catch((error)=> {
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'error'
          });
        });
    },
    pageClick () {
      clearInterval(this.$store.state.timer);
      this.time = 120;
      this.lastTime();
    },
    backHome () {
      this.$router.push('/');
    },
    lastTime() {
      clearInterval(this.$store.state.timer);
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      }, 1000);
    }
 
  },
  components: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.status {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  .status-boxs {
    width: 523px;
    height: 622px;
    background-image: url('~@/assets/images/select_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -311px;
    margin-left: -262px;
    padding-top: 186px;
    .children-content-no {
      height: 180px;
      text-align: center;
      font-size: 24px;
      color: #fff;
      letter-spacing: 5px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
    }
    .children-content {
      height: 180px;
      position: relative;
      .children-ul {
        width: 312px;
        height: 180px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
      }
      .children-list {
        width: 124px;
        height: 180px;
        display: inline-block;
        margin-left: 64px;
        &:nth-child(odd) {
          margin-left: 0;
        }
        .photo {
          width: 124px;
          height: 124px;
          border-radius: 50%;
          border: 3px solid #fff;
          position: relative;
          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #ccc;
          }
          .photo-copy {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
          }
          .sel-icon {
            width: 32px;
            height: 32px;
            background-image: url('~@/assets/images/selected_icon.png');
            background-repeat: no-repeat;
            background-size: 32px 32px;
            position: absolute;
            right: 0;
            bottom: 0;
            &.sel-icon-no {
              background-image: url('~@/assets/images/select_icon.png');
            }
          }
          .send-icon {
            width: 68px;
            height: 28px;
            background-image: url('~@/assets/images/send_icon.png');
            background-repeat: no-repeat;
            background-size: 68px 28px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .name {
          margin-top: 30px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          font-size: 24px;
          color: #fff;
          letter-spacing: 5px;
          text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
          *filter: Glow(color=#000, strength=1);
          font-family: "cuyuan","PingFang SC";
        }
      }
      .page-btn {
        width: 42px;
        height: 44px;
        position: absolute;
        top: 50%;
        margin-top: -44px;
        background-repeat: no-repeat;
        background-size: cover;
        &.page-btn-prev {
          background-image: url('~@/assets/images/page_prev.png');
          left: 30px;
        }
        &.page-btn-next {
          background-image: url('~@/assets/images/page_next.png');
          right: 30px;
        }
      }

    }
    .sure-btn {
      width: 208px;
      height: 67px;
      line-height: 67px;
      margin: 80px auto 20px;
      background-color: transparent;
      text-align: center;
      color: #000;
      outline: none;
      border: none;
      background-image: url('~@/assets/images/submit_btn.png');
      background-repeat: no-repeat;
      background-size: 208px 67px;
    }
    .time {
      width: 100%;
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 24px;
      color: #fff;
      letter-spacing: 5px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      font-family: "cuyuan","PingFang SC";
    }
    .close-btn {
      width: 100px;
      height: 100px;
      position: absolute;
      right: -84px;
      top: -50px;
      background-image: url('~@/assets/images/close_btn.png');
      background-repeat: no-repeat;
      background-size: 58px 57px;
      background-position: center center;
      transition: all 0.5s;
      &.active {
        transform: scale(0.8)
      }
    }
    
  }
}
</style>
