<template>
  <div class="soft">
    <!-- 掌静脉识别控件 -->
    <object
      id="captureActiveX"
      classid="clsid:6ee10383-aa59-41d7-853f-adf8baaa657f"
      width="0"
      height="0"
      ></object>
  </div>
</template>

<script>
export default {
  name: 'soft',
  data () {
    return {}
  },
  created () {},
  mounted () {
      let activexObj = document.getElementById("captureActiveX");
      activexObj.initLibraryWithMode(1);
      activexObj.SetWindow(window);
      activexObj.showPalmActiveX(false);
      this.$store.state.activexObj = activexObj;
      //错误信息
      let that = this;
      window.reportError = function (value) {
        that.$message({
          message: '掌静脉软件错误，请尝试重新打开',
          duration: 1500,
          type: 'error'
        });
      }
      //掌静脉验证
      window.capturePalmData = function (value) {
        that.$store.commit({
          type: 'capturePalmData',
          verifyData: value
        })
      }
      //注册状态和提示文字（中间通用|分割）
      window.enrollStatus = function (value) {
        var result = value.split('|');
        var statusInfo = {
          index: parseInt(result[0]),
          handTxt: result[1]
        }
        that.$store.commit({
          type: 'registStatus',
          statusInfo: statusInfo
        })
      }
      //注册获取到掌静脉数据
      window.enrollData = function (value) {
        that.$store.commit({
          type: 'enrollData',
          registData: value
        })
      }
      //掌静脉验证回调方法
      window.endCapture = function () {
        //监听重新采集
        if (that.$store.state.againRegist) {
          that.$store.state.activexObj.capturePalmData();//开始验证
          that.$store.state.againRegist = false;
          that.$store.state.plamStep = 1;
        }
      }
      //掌静脉注册回调方法
      window.endEnroll = function () {
        //监听重新采集
        if (that.$store.state.againRegist) {
          that.$store.state.activexObj.capturePalmData();//开始验证
          that.$store.state.againRegist = false;
          that.$store.state.plamStep = 1;
        }
      }
      //监听页面刷新
      window.onbeforeunload = function () {
        // that.$store.commit('finishSoft')
      }
  },
  methods: {}
}
</script>

<style lang="scss">
.soft {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -9999;
}
</style>
