<template>
  <div class="regist" @click="pageClick">
    <div class="telephone-box">
      <div class="telephone">
        <div class="form-box">
          <div class="form-input">
            <div class="input-block form-input-phone">
              <input type="text" 
                class="telephone-input" 
                placeholder="请输入11位手机号"
                @focus="phoneFocus"
                v-model="iphone"
              >
            </div>
          </div>
          <div class="form-input">
            <div class="input-block form-input-code">
              <input type="text" 
                class="code-input" 
                placeholder="请输入验证码"
                @focus="codeFocus"
                v-model="code"
              >
            </div>
            <div class="code-btn">
              <button  
                @click="checkPhone"
                @mousedown="downGetBtn"
                @mouseup="upGetBtn"
                :disabled = disableCode
                v-text="changeName"
              ></button>
            </div>
          </div>
          <div class="form-btns">
            <div class="regist-btn">
              <button  
                @click.stop="submitData" 
                :disabled = disableSubmit
                :class = "submitBtnActive"
              >
              </button>
            </div>
          </div>
        </div>
        <ul class="kbbox">
          <li class="kb" 
            v-for="(number, index) in keys" :key="index"
            @click="clickkey(index,$event)"
            @mouseover="downkey($event, index)"
            @mouseout="upkey($event, index)"
          >
          </li>
        </ul>
      </div>
      <div class="back-box">
        <div class="back-btn"
          @click.stop="backHome"
          @mouseenter="backDown"
          @mouseleave="backUp"
          :class="backClass"
        ></div>
      </div>
      <div class="time">{{time}}s后退出</div>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
import { addClass, removeClass } from '@/assets/js/handleClass'
export default {
  data () {
    return {
      keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, '清空', 0, '删除'],
      iphone: '',
      code: '',
      isFocue: 0,
      changeName: '获取验证码',
      codeCount: 60,
      codeTimer: null,
      checkedActive: false,
      gottedActive: false,
      disableCode: false,
      disableSubmit: false,
      time: 120,
      backActive: false
    }
  },
  watch: {
    iphone (val, old) {
      const regPhone = /^1\d{10}$/;
      if (!regPhone.test(val)) {
        if (val.length > 11) {
          this.iphone = this.iphone.substring(0, 11);
        } else {
          this.code = '';
          this.isFocue = 0;
        }
      } else {
        this.isFocue = 1;
      }
    }
  },
  computed: {
    backClass () {
      return {
        'active': this.backActive
      }
    },
    submitBtnActive () {
      return {
        'active': this.checkedActive
      }
    },
    ...mapState([
      'equipmentId'
    ])
  },
  mounted () {
    this.lastTime();
  },
  methods: {
    checkPhone () {
      this.code = "";
      const phone_num = this.iphone;
      if (!(/^1\d{10}$/.test(phone_num))) {
        this.$message({
          message: '手机号码有误，请重填',
          duration: 1000,
          type: 'warning'
        });
      } else { 
        this.axios.post('/middle/middlecheckphone.do', {
          phone: this.iphone,
          snCode: this.equipmentId
        }).then((response) => {
          let result_data = response.data;
          if(parseInt(result_data.status) === 1) {
            //验证注册号码
            this.getCode();
          } else {
            this.$message({
              message: result_data.msg,
              duration: 1000,
              type: 'warning'
            });
          }
        }).catch((error)=> {
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'warning'
          });
        });
      }
      
    },
    getCode () {
      //获取验证码
      this.axios.post('/middle/sendCode.do', {
        phone: this.iphone
      }).then((response) => {
        let result_data = response.data;
        if(parseInt(result_data.status) === 1) {
          //获取验证码成功
          //验证码倒计时
          this.countDown();
          this.isFocue = 1;
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'success'
          });
        } else {
          //获取验证码失败
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      });
    },
    submitData () {
      const regPhone = /^1\d{10}$/;
      const regCode = /^\d{6}$/;
      let phone_num = this.iphone; //电话号码
      let phone_code = this.code; //验证码
      if (!regPhone.test(phone_num)) {
        this.$message({
          message: '手机号码有误，请重填',
          duration: 1000,
          type: 'warning'
        });
      } else if (!phone_code) {
        this.$message({
          message: '验证码有误',
          duration: 1000,
          type: 'warning'
        });
      } else {
        //再次检验手机号
        this.checkAgainPhone();
      }
    },
    checkAgainPhone () {
      this.axios.post('/middle/middlecheckphone.do', {
        phone: this.iphone,
        snCode: this.equipmentId
      }).then((response) => {
        let result_data = response.data;
        if(parseInt(result_data.status) === 1) {
          //检验验证码
          this.checkCode();
        } else {
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'warning'
        });
      });
    },
    checkCode () {
      this.disableSubmit = true;
      this.resetCode(); //重置获取验证码按钮
      this.axios.post('/middle/MiddleCode.do', {
        phone: this.iphone,
        code: this.code
      }).then((response) => {
        this.disableSubmit = false;
        let result_data = response.data;
        if(parseInt(result_data.status) === 1) {
          //验证码验证成功
          let telephoneInfo = {
            phone_num: this.iphone
          }
          this.$store.commit({
            type: 'startRegist',
            telephoneInfo: telephoneInfo
          })
        } else {
          //验证码错误
          this.$message({
            message: result_data.msg,
            duration: 1000,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.disableSubmit = false;
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'warning'
        });
      });
    },
    countDown () {
      this.disableCode = true;
      this.changeName = '已获取 '+this.codeCount+' s';
      clearInterval(this.codeTimer);
      this.codeTimer = setInterval(() => {
        this.codeCount--;
        this.changeName = '已获取 '+this.codeCount+' s';
        if (this.codeCount <= 0) {
          this.resetCode();
        }
      },1000)
    },
    resetCode () {
      clearInterval(this.codeTimer);
      this.codeCount = 60;
      this.changeName = '获取验证码';
      this.disableCode = false;
    },
    phoneFocus () {
      this.isFocue = 0;
    },
    codeFocus () {
      this.isFocue = 1;
    },
    getNum (message) {
      if(this.isFocue === 0) {
        switch (message) {
          case 'delete':
            this.iphone = this.iphone.substring(0, this.iphone.length-1);
            break;
          case 'reset':
            this.iphone = '';
            break;
          default:
            this.iphone += message;
        }
      } else if(this.isFocue === 1) {
        switch (message) {
          case 'delete':
            this.code = this.code.substring(0, this.code.length-1);
            break;
          case 'reset':
            this.code = '';
            break;
          default:
            this.code += message;
        }  
      }
    },
    clickkey (index, event) {
      if (index === 9) {
        this.getNum('reset');
      } else if (index === 10) {
        this.getNum(0);
      } else if (index === 11 ) {
        this.getNum('delete');
      } else {
        this.getNum(index+1);
      }
    },
    lastTime () {
      clearInterval(this.$store.state.timer);//清除定时器
      this.$store.state.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    backHome () {
      this.resetCode();
      this.$router.push({path: '/'});
    },
    pageClick () {
      //点击页面倒计时重置
      clearInterval(this.$store.state.timer);//清除定时器
      this.time = 120;
      this.lastTime();
    },
    downkey (event) {
      addClass(event.target, 'active')
    },
    upkey (event) {
      removeClass(event.target, 'active')
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    },
    downGetBtn () {
      
    },
    upGetBtn () {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.regist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-image: url('~@/assets/images/page_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  .telephone-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    .telephone{
      width: 1312px;
      height: 536px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -268px;
      margin-left: -656px;
      display: flex;
      align-items: center;
      .form-box {
        width: 818px;
        height: 536px;
        margin-right: 52px;
        background-image: url('~@/assets/images/phone_bg.png');
        background-repeat: no-repeat;
        background-size: 818px 536px;
        padding-top: 80px;
        .form-input {
          width: 710px;
          margin: 0 auto 58px;
          height: 80px;
          overflow: hidden;
          display: flex;
          .input-block {
            width: 100%;
            height: 80px;
            background-repeat: no-repeat;
            &.form-input-phone {
              background-image: url('~@/assets/images/ipt_phone.png');
              background-size: 710px 80px;
              .telephone-input {
                display: block;
                width: 680px;
                height: 60px;
                margin: 10px auto;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: transparent;
                border: none;
                color: #fff;
                font-weight: 700;
                font-size: 30px;
                text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                font-family: "cuyuan","PingFang SC";
                letter-spacing: 5px;
              }
              input::-webkit-input-placeholder { /* WebKit browsers */
                color: #fff;
                font-size: 30px;
                font-family: "cuyuan",
                "PingFang SC";
              }
              input:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #fff;
                font-size: 30px;
                font-family: "cuyuan","PingFang SC";
              }
            }
            &.form-input-code {
              width: 448px;
              background-image: url('~@/assets/images/ipt_code.png');
              background-size: 448px 80px;
              .code-input {
                display: block;
                width: 418px;
                height: 60px;
                margin: 10px auto;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: transparent;
                border: none;
                color: #fff;
                font-weight: 700;
                font-size: 30px;
                text-shadow: -1px 0 #000,0 1px #000, 1px 0 #000,0 -1px #000;
                font-family: "cuyuan","PingFang SC";
                letter-spacing: 5px;
              }
              input::-webkit-input-placeholder { /* WebKit browsers */
                color: #fff;
                font-size: 30px;
                font-family: "cuyuan",
                "PingFang SC";
              }
              input:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #fff;
                font-size: 30px;
                font-family: "cuyuan","PingFang SC";
              }
            }
          }
          .code-btn {
            width: 208px;
            height: 67px;
            margin-left: 54px;
            margin-top: 6px;
            button {
              display: block;
              width: 208px;
              height: 67px;
              line-height: 67px;
              text-align: center;
              background-image: url('~@/assets/images/code_btn.png');
              background-repeat: no-repeat;
              background-size: 208px 67px;
              background-color: transparent;
              color: #fff;
              font-size: 26px;
              text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
              *filter: Glow(color=#000, strength=1);
              font-family: "cuyuan","PingFang SC";
              font-weight: 700;
              letter-spacing: 5px;
            }
            span {
              margin-left: 3px;
            }
          }
        }
        .form-tips {
          width: 438px;
          height: 20px;
          line-height: 20px;
          font-size: 18px;
          color: red;
          padding-left: 5px;
          margin: 0 auto 10px;
        }
        .form-btns {
          width: 710px;
          height: 67px;
          margin: 0 auto;
          .regist-btn {
            width: 208px;
            height: 67px;
            button {
              display: block;
              width: 208px;
              height: 67px;
              line-height: 67px;
              background-color: transparent;
              text-align: center;
              color: #000;
              outline: none;
              border: none;
              background-image: url('~@/assets/images/submit_btn.png');
              background-repeat: no-repeat;
              background-size: 208px 67px;
              color: #fff;
              font-weight: 700;
              font-size: 32px;
              text-shadow: -2px 0 #000,0 2px #000,2px 0 #000,0 -2px #000;
              *filter: Glow(color=#000, strength=1);
            }
          }
        }
      }
      .kbbox {
        width: 441px;
        height: 536px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 115px;
          height: 115px;
          color: #fff;
          margin-right: 48px;
          margin-bottom: 25px;
          background-size: 115px 115px;
          background-position: center center;
          background-repeat: no-repeat;
          &:nth-child(3),&:nth-child(6),&:nth-child(9),&:nth-child(12){
            margin-right: 0;
          }
          &:nth-child(10),&:nth-child(11),&:nth-child(12){
            margin-bottom: 0;
          }
          &:nth-child(1){
            background-image: url('~@/assets/images/1.png');
            &.active {
              background-image: url('~@/assets/images/1active.png');
            }
          }
          &:nth-child(2){
            background-image: url('~@/assets/images/2.png');
            &.active {
              background-image: url('~@/assets/images/2active.png');
            }
          }
          &:nth-child(3){
            background-image: url('~@/assets/images/3.png');
            &.active {
              background-image: url('~@/assets/images/3active.png');
            }
          }
          &:nth-child(4){
            background-image: url('~@/assets/images/4.png');
            &.active {
              background-image: url('~@/assets/images/4active.png');
            }
          }
          &:nth-child(5){
            background-image: url('~@/assets/images/5.png');
            &.active {
              background-image: url('~@/assets/images/5active.png');
            }
          }
          &:nth-child(6){
            background-image: url('~@/assets/images/6.png');
            &.active {
              background-image: url('~@/assets/images/6active.png');
            }
          }
          &:nth-child(7){
            background-image: url('~@/assets/images/7.png');
            &.active {
              background-image: url('~@/assets/images/7active.png');
            }
          }
          &:nth-child(8){
            background-image: url('~@/assets/images/8.png');
            &.active {
              background-image: url('~@/assets/images/8active.png');
            }
          }
          &:nth-child(9){
            background-image: url('~@/assets/images/9.png');
            &.active {
              background-image: url('~@/assets/images/9active.png');
            }
          }
          &:nth-child(10){
            background-image: url('~@/assets/images/kong.png');
            &.active {
              background-image: url('~@/assets/images/kongactive.png');
            }
          }
          &:nth-child(11){
            background-image: url('~@/assets/images/0.png');
            &.active {
              background-image: url('~@/assets/images/0active.png');
            }
          }
          &:nth-child(12){
            background-image: url('~@/assets/images/del.png');
            &.active {
              background-image: url('~@/assets/images/delactive.png');
            }
          }
        }
      }
    }
    .back-box {
      width: 131px;
      height: 135px;
      position: absolute;
      right: 84px;
      bottom: 50px;
      .back-btn {
        display: block;
        width: 131px;
        height: 135px;
        background-image: url('~@/assets/images/back_btn.png');
        background-repeat: no-repeat;
        background-size: 131px 135px;
        transition: all 0.2s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
    .time {
      position: absolute;
      right: 80px;
      top: 80px;
      height: 40px;
      line-height: 40px;
      width: 300px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 32px;
      text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
      *filter: Glow(color=#000, strength=1);
      letter-spacing: 5px;
    }
  }
}
</style>
