<template>
  <div id="app">
    <div class="home-box">
      <div class="home-content">
        <div class="home-logo">
          <img src="~@/assets/images/logo.png" alt="">
        </div>
        <div class="home-num">
          设备编号:<span>{{equipmentId}}</span>
        </div>
      </div>
      <div class="home-btn">
        <img src="~@/assets/images/regist_btn.png" alt="" 
          @click.stop="goRegist"
          @mouseenter="goRegistDown"
          @mouseleave="goRegistUp"
          @dragstart="dragsImage"
          :class="goRegistClass"
        >
      </div>
      <div class="login-btn">
        <img src="~@/assets/images/search_btn.png" alt=""
          @click.stop="goLogin"
          @mouseenter="goLoginDown"
          @mouseleave="goLoginUp"
          @dragstart="dragsImage"
          :class="goLoginClass"
        >
      </div>
      <div class="bao-btn">
        <img src="~@/assets/images/bao.png" alt=""
          @click.stop="baoLogin"
          @mouseenter="baoLoginDown"
          @mouseleave="baoLoginUp"
          @dragstart="dragsImage"
          :class="baoLoginClass"
        >
      </div>
      <div class="home-code">
        <div class="code apple-code">
          <div class="code-img">
            <img :src="codeData.kidCode" alt="" @dragstart="dragsImage">
          </div>
          <div class="code-txt">
            扫一扫下载幼儿园家长端APP
          </div>
        </div>
        <div class="code android-code">
          <div class="code-img">
            <img :src="codeData.teacherCode" alt="" @dragstart="dragsImage">
          </div>
          <div class="code-txt">
            扫一扫下载幼儿园教师端APP
          </div>
        </div>
      </div>
      <soft></soft>
    </div>
    <Loading v-show="showLoad" :title="title"></Loading>
    <router-view/>
  </div>
</template>

<script>
import soft from '@/components/soft'
import Loading from '@/components/loading.vue'
import { mapState  } from 'vuex'
export default {
  name: 'App',
  data() {
    return {
      baoLoginActive: false,
      goRegistActive: false,
      goLoginActive: false,
      bannerData: {
        images: [],
        equipmentName: ''
      },
      codeData: {}
    }
  },
  computed: {
    goRegistClass () {
      return {
        'active': this.goRegistActive
      }
    },
    goLoginClass () {
      return {
        'active': this.goLoginActive
      }
    },
    baoLoginClass () {
      return {
        'active': this.baoLoginActive
      }
    },
    ...mapState([
      'title',
      'showLoad',
      'equipmentId'
    ])
  },
  created () {
    if (this.equipmentId) {
      this.checkSnCode();
      this.longContect();
      this.codeDataPost();
    } else {
      this.$alert('请在config文件中配置设备id', '程序错误提示', {
        confirmButtonText: '确定',
        callback: action => {}
      });
    }
  },
  mounted () {},
  methods: {
    dragsImage (event) {
      event.preventDefault()
    },
    checkSnCode () {
      this.axios.post('/middle/CheckSnCode.do', {
        snCode: this.equipmentId
      }).then((response)=> {
        let result_data = response.data;
        if (parseInt(result_data.status) !== 1) {
          this.$alert('设备id不存在', '程序错误提示', {
            confirmButtonText: '确定',
            callback: action => {}
          });
        } else {

        }
      }).catch((error)=> {
        console.log(error.message)
      });
    },
    longContect () {
      var longTimer = setInterval(()=> {
        this.axios.post('/middle/GeEquipmentStatue.do', {
          equipmentName: this.equipmentId,
          noload: true
        }).then((response)=> {
         
        }).catch((error)=> {
          console.log(error.message)
        });
      },30000)
    },
    codeDataPost () {
      this.axios.post('/code/DownloadCode.do', {})
      .then((response)=> {
        var result_data = response.data;
        if (parseInt(result_data.status) === 1 ) {
          this.codeData = result_data.data;
        } else {
          this.$message({
            message: error.message,
            duration: 1500,
            type: 'warning'
          });
        }
      }).catch((error)=> {
        this.$message({
          message: error.message,
          duration: 1500,
          type: 'error'
        });
      })
    },
    goRegist () {
      this.$router.push('/regist');
    },
    goRegistDown () {
      this.goRegistActive = true;
    },
    goRegistUp () {
      this.goRegistActive = false;
    },
    goLogin () {
      this.$store.state.isAdmin = true;
      this.$store.commit({type: 'startLogin'})
    },
    goLoginDown () {
      this.goLoginActive = true;
    },
    goLoginUp () {
      this.goLoginActive = false;
    },
    baoLogin () {
      this.$store.state.isAdmin = false;
      this.$store.commit({type: 'startLogin'})
    },
    baoLoginDown () {
      this.baoLoginActive = true;
    },
    baoLoginUp () {
      this.baoLoginActive = false;
    }
  },
  components: {
    soft,
    Loading
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Microsoft YaHei';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-image: url('~@/assets/images/home_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  .home-box {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    .home-content {
      width: 410px;
      height: 200px;
      position: absolute;
      top: 0px;
      left: 0px;
      .home-num {
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        z-index: 1;
        span {
          margin-left: 5px;
          color: #fece47;
        }
      }
      .home-logo {
        width: 410px;
        height: 78px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .home-btn {
      width: 131px;
      height: 135px;
      position: absolute;
      right: 80px;
      bottom: 40px;
      z-index: 1;
      img {
        width: 131px;
        height: 135px;
        transition: all 0.2s ease-in-out;
        &.active {
          transform: scale(0.9);
        }
      }
    }
    .login-btn {
      width: 93px;
      height: 96px;
      position: absolute;
      right: 80px;
      top: 50px;
      z-index: 1;
      img {
        width: 93px;
        height: 96px;
        transition: all 0.2s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
    .bao-btn {
      width: 264px;
      height: 270px;
      position: absolute;
      left: 50%;
      bottom: 28px;
      margin-left: -132px;
      z-index: 1;
      img {
        display: block;
        width: 264px;
        height: 270px;
        transition: all 0.2s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
    .home-code {
      height: 200px;
      position: absolute;
      left: 30px;
      bottom: 35px;
      z-index: 1;
      .code {
        width: 182px;
        margin-right: 20px;
        height: 200px;
        float: left;
        padding: 10px 10px 0;
        background: #fff;
        border: 1px solid #e7e7e7;
        box-shadow: 0 0 2px #e7e7e7;
        .code-img {
          width: 160px;
          height: 160px;
          background: #ccc;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .code-txt {
          height: 30px;
          line-height: 30px;
          text-align: center;
          font-size: 12px;
          color: #333;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 5px;
            height: 19px;
          }
          span {
            display: block;
            height: 19px;
            line-height: 19px;
          }
        }
        &.apple-code {
          .code-txt {
            i {
              width: 16px;
              background-image: url('~@/assets/images/apple_code.png');
            }
            span {
              line-height: 22px;
            }
          }
        }
         &.android-code {
          .code-txt {
            i {
              width: 17px;
              background-image: url('~@/assets/images/android_code.png')
            }
          }
        }
      }
    }
  }
}
</style>
